<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoperun.mapper.RbacUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.hoperun.pojo.RbacUserInfo">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="BIRTH_DATE" jdbcType="TIMESTAMP" property="birthDate" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DEGREE" jdbcType="VARCHAR" property="degree" />
    <result column="EMPLOYEE_NUMBER" jdbcType="VARCHAR" property="employeeNumber" />
    <result column="FOUNDER" jdbcType="VARCHAR" property="founder" />
    <result column="IF_ON_DUTY" jdbcType="VARCHAR" property="ifOnDuty" />
    <result column="LEAVE_DATE" jdbcType="TIMESTAMP" property="leaveDate" />
    <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="NUMBER1" jdbcType="VARCHAR" property="number1" />
    <result column="NUMBER2" jdbcType="VARCHAR" property="number2" />
    <result column="NUMBER3" jdbcType="VARCHAR" property="number3" />
    <result column="NUMBER4" jdbcType="VARCHAR" property="number4" />
    <result column="ORGANIZATION_ID" jdbcType="DECIMAL" property="organizationId" />
    <result column="GENDER" jdbcType="VARCHAR" property="gender" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, BIRTH_DATE, CREATE_TIME, DEGREE, EMPLOYEE_NUMBER, FOUNDER, IF_ON_DUTY, LEAVE_DATE, 
    MODIFIER, MODIFY_TIME, NAME, PASSWORD, NUMBER1, NUMBER2, NUMBER3, NUMBER4, ORGANIZATION_ID, 
    GENDER
  </sql>
  <select id="selectByExample" parameterType="com.hoperun.pojo.RbacUserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from RBAC_USER_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from RBAC_USER_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from RBAC_USER_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.hoperun.pojo.RbacUserInfoExample">
    delete from RBAC_USER_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hoperun.pojo.RbacUserInfo">
    insert into RBAC_USER_INFO (ID, BIRTH_DATE, CREATE_TIME, 
      DEGREE, EMPLOYEE_NUMBER, FOUNDER, 
      IF_ON_DUTY, LEAVE_DATE, MODIFIER, 
      MODIFY_TIME, NAME, PASSWORD, 
      NUMBER1, NUMBER2, NUMBER3, 
      NUMBER4, ORGANIZATION_ID, GENDER
      )
    values (#{id,jdbcType=DECIMAL}, #{birthDate,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{degree,jdbcType=VARCHAR}, #{employeeNumber,jdbcType=VARCHAR}, #{founder,jdbcType=VARCHAR}, 
      #{ifOnDuty,jdbcType=VARCHAR}, #{leaveDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{number1,jdbcType=VARCHAR}, #{number2,jdbcType=VARCHAR}, #{number3,jdbcType=VARCHAR}, 
      #{number4,jdbcType=VARCHAR}, #{organizationId,jdbcType=DECIMAL}, #{gender,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hoperun.pojo.RbacUserInfo">
    insert into RBAC_USER_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="birthDate != null">
        BIRTH_DATE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="degree != null">
        DEGREE,
      </if>
      <if test="employeeNumber != null">
        EMPLOYEE_NUMBER,
      </if>
      <if test="founder != null">
        FOUNDER,
      </if>
      <if test="ifOnDuty != null">
        IF_ON_DUTY,
      </if>
      <if test="leaveDate != null">
        LEAVE_DATE,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="number1 != null">
        NUMBER1,
      </if>
      <if test="number2 != null">
        NUMBER2,
      </if>
      <if test="number3 != null">
        NUMBER3,
      </if>
      <if test="number4 != null">
        NUMBER4,
      </if>
      <if test="organizationId != null">
        ORGANIZATION_ID,
      </if>
      <if test="gender != null">
        GENDER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="birthDate != null">
        #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="degree != null">
        #{degree,jdbcType=VARCHAR},
      </if>
      <if test="employeeNumber != null">
        #{employeeNumber,jdbcType=VARCHAR},
      </if>
      <if test="founder != null">
        #{founder,jdbcType=VARCHAR},
      </if>
      <if test="ifOnDuty != null">
        #{ifOnDuty,jdbcType=VARCHAR},
      </if>
      <if test="leaveDate != null">
        #{leaveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="number1 != null">
        #{number1,jdbcType=VARCHAR},
      </if>
      <if test="number2 != null">
        #{number2,jdbcType=VARCHAR},
      </if>
      <if test="number3 != null">
        #{number3,jdbcType=VARCHAR},
      </if>
      <if test="number4 != null">
        #{number4,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null">
        #{organizationId,jdbcType=DECIMAL},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hoperun.pojo.RbacUserInfoExample" resultType="java.lang.Integer">
    select count(*) from RBAC_USER_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update RBAC_USER_INFO
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.birthDate != null">
        BIRTH_DATE = #{record.birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.degree != null">
        DEGREE = #{record.degree,jdbcType=VARCHAR},
      </if>
      <if test="record.employeeNumber != null">
        EMPLOYEE_NUMBER = #{record.employeeNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.founder != null">
        FOUNDER = #{record.founder,jdbcType=VARCHAR},
      </if>
      <if test="record.ifOnDuty != null">
        IF_ON_DUTY = #{record.ifOnDuty,jdbcType=VARCHAR},
      </if>
      <if test="record.leaveDate != null">
        LEAVE_DATE = #{record.leaveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null">
        MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.number1 != null">
        NUMBER1 = #{record.number1,jdbcType=VARCHAR},
      </if>
      <if test="record.number2 != null">
        NUMBER2 = #{record.number2,jdbcType=VARCHAR},
      </if>
      <if test="record.number3 != null">
        NUMBER3 = #{record.number3,jdbcType=VARCHAR},
      </if>
      <if test="record.number4 != null">
        NUMBER4 = #{record.number4,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationId != null">
        ORGANIZATION_ID = #{record.organizationId,jdbcType=DECIMAL},
      </if>
      <if test="record.gender != null">
        GENDER = #{record.gender,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update RBAC_USER_INFO
    set ID = #{record.id,jdbcType=DECIMAL},
      BIRTH_DATE = #{record.birthDate,jdbcType=TIMESTAMP},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      DEGREE = #{record.degree,jdbcType=VARCHAR},
      EMPLOYEE_NUMBER = #{record.employeeNumber,jdbcType=VARCHAR},
      FOUNDER = #{record.founder,jdbcType=VARCHAR},
      IF_ON_DUTY = #{record.ifOnDuty,jdbcType=VARCHAR},
      LEAVE_DATE = #{record.leaveDate,jdbcType=TIMESTAMP},
      MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      NAME = #{record.name,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      NUMBER1 = #{record.number1,jdbcType=VARCHAR},
      NUMBER2 = #{record.number2,jdbcType=VARCHAR},
      NUMBER3 = #{record.number3,jdbcType=VARCHAR},
      NUMBER4 = #{record.number4,jdbcType=VARCHAR},
      ORGANIZATION_ID = #{record.organizationId,jdbcType=DECIMAL},
      GENDER = #{record.gender,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hoperun.pojo.RbacUserInfo">
    update RBAC_USER_INFO
    <set>
      <if test="birthDate != null">
        BIRTH_DATE = #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="degree != null">
        DEGREE = #{degree,jdbcType=VARCHAR},
      </if>
      <if test="employeeNumber != null">
        EMPLOYEE_NUMBER = #{employeeNumber,jdbcType=VARCHAR},
      </if>
      <if test="founder != null">
        FOUNDER = #{founder,jdbcType=VARCHAR},
      </if>
      <if test="ifOnDuty != null">
        IF_ON_DUTY = #{ifOnDuty,jdbcType=VARCHAR},
      </if>
      <if test="leaveDate != null">
        LEAVE_DATE = #{leaveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="number1 != null">
        NUMBER1 = #{number1,jdbcType=VARCHAR},
      </if>
      <if test="number2 != null">
        NUMBER2 = #{number2,jdbcType=VARCHAR},
      </if>
      <if test="number3 != null">
        NUMBER3 = #{number3,jdbcType=VARCHAR},
      </if>
      <if test="number4 != null">
        NUMBER4 = #{number4,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null">
        ORGANIZATION_ID = #{organizationId,jdbcType=DECIMAL},
      </if>
      <if test="gender != null">
        GENDER = #{gender,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hoperun.pojo.RbacUserInfo">
    update RBAC_USER_INFO
    set BIRTH_DATE = #{birthDate,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      DEGREE = #{degree,jdbcType=VARCHAR},
      EMPLOYEE_NUMBER = #{employeeNumber,jdbcType=VARCHAR},
      FOUNDER = #{founder,jdbcType=VARCHAR},
      IF_ON_DUTY = #{ifOnDuty,jdbcType=VARCHAR},
      LEAVE_DATE = #{leaveDate,jdbcType=TIMESTAMP},
      MODIFIER = #{modifier,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      NAME = #{name,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      NUMBER1 = #{number1,jdbcType=VARCHAR},
      NUMBER2 = #{number2,jdbcType=VARCHAR},
      NUMBER3 = #{number3,jdbcType=VARCHAR},
      NUMBER4 = #{number4,jdbcType=VARCHAR},
      ORGANIZATION_ID = #{organizationId,jdbcType=DECIMAL},
      GENDER = #{gender,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>